:root {
  --yellow: #faf5e8;
  --gray: #c7bfad;
  --green: #6a97a6;
  --pink: #ffcdba;
  --red: #db7c5a;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  background-color: var(--yellow);
}

#page {
  flex-grow: 1;
  padding: 30px;
  min-height: 0;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

#Navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px;
  background-color: var(--green);
  border-radius: 0px 0px 5px 5px;
  color: white;
}
.TitleLink{
  font-family: 'Lobster', cursive;
  color: white;
  text-decoration: none;
  font-size: 50px;
  padding-left: 15px;
}
.sub-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25em;
}

.sub-navbar .navbar-icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.flex-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.flex-card > * {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 600px;
}

/* PRODUCTS CSS */
.category-list,
.size-list {
  list-style-type: none;
  width: 100px;
}
.category-button {
  white-space: nowrap;
}
.category-list label,
.size-list label {
  padding-left: 0.4em;
}
.add-button {
  height: 30px;
}

.size-list{
  width: 160px;
}
.size-container {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

#products-filter {
  padding: 20px;
  background-color: var(--pink);
  min-width: 200px;
  height: fit-content;
  position: relative;
}

#products-page-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#products-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#products-header-left {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: baseline;
}
#products-search{
  border: none;
  border-bottom: 4px solid var(--red);
  background-color: var(--yellow);
  color: var(--red);
  font-size: 18px;
  margin: 10px 0px;
  padding-left: 5px;
  font-family: inherit;
}

#side-by-side {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#products-filter {
  display: flex;
  flex-flow: column nowrap;
}

#products-list {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

#products-container {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px var(--gray);
  border-radius: 10px;
  gap: 20px;
  width: 250px;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 2em;
}
#products-container:hover {
  background-color: #ede8dd;
}
.product-image-box {
  position: relative;
}
#product-pic {
  display: block;
  width: 230px;
  height: 250px;
  justify-content: center;
  border-radius: 10px;
  margin: 0px;
}
#sold-out-icon {
  position: absolute;
  background-color: var(--red);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: white;
  font-size: large;
}

.product-text-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
}

.important-product-detail {
  font-weight: 900;
  color: var(--red);
}

.admin-product-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.product-buttons-container {
  display: flex;
  justify-content: end;
  gap: 5px;
}
#product-inventory {
 color: black;
 font-size: 0.8rem;
}

.product-button {
  border: 4px solid var(--green);
  background-color: var(--green);
  font-family: inherit;
  border-radius: 5px;
  padding: 1px 2px;
  color: var(--yellow);
  cursor: pointer;
}
.product-button:hover {
  background-color: var(--yellow);
  border: 4px solid var(--green);
  color: var(--green);
}
#add-category-form {
  padding: 0.2em;
}
#add-category-button {
  display: flex;
  justify-content: end;
  padding-top: 5px;
}
.add-category-name {
  color: var(--green);
  font-size: 0.9em;
}
.category-submit {
  font-size: 0.5em;
  margin-right: 0.6em;
}

#single-product-top {
  padding: 30px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
}
#single-product-pic {
  width: 300px;
  height: 325px;
}
#single-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#single-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#single-product-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--gray);
  padding: 15px;
  border-radius: 5px;
  color: white;
}
#single-product-bottom span {
  font-size: 0.8em;
}
#product-name {
  font-size: xx-large;
}
#product-price {
  font-size: x-large;
}
#product-description {
  color: var(--green);
}

.new-product-form-container {
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
}
.product-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2em;
}
.product-form button {
  margin-top: 2em;
}
/* .product-form textarea {
  resize: none;
} */
#select-drop{
  color: var(--red);
  border: none;
    border-bottom: 4px solid var(--red);
    font-size: 2vh;
    background-color: var(--yellow);
}
/* END OF PRODUCTS CSS */

.navLink {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0px 10px 0px;
}

/* Matt */

#shopping-cart-icon-container {
  position: relative;
}

#shopping-cart-number {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: x-small;
  background-color: var(--red);
  border-radius: 50%;
  padding: 2px;
  min-height: min-content;
  min-width: min-content;
  height: 1rem;
  width: 1rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.horizontal-flex > * {
  padding: 10px 0px;
  border-bottom: 2px solid var(--gray);
}

#full-cart-page {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
}

#checkout-full-page {
  display: flex;

  flex-grow: 1;
}

#full-cart-page button, #checkout-full-page button, .cart-button {

  border: 4px solid var(--green);
  background-color: var(--green);
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  padding: 1px 2px;
  color: var(--yellow);
  cursor: pointer;
}

#full-cart-page button:hover, #checkout-full-page button:hover, .cart-button:hover {
  background-color: var(--yellow);
  border: 4px solid var(--green);
  color: var(--green);
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  align-items: stretch;
}

.cart-item:last-child {
  border-bottom: none;
  padding-bottom: none;
}

.cart-item img {
  border-radius: 5px;
  max-width: 200px;
}

.cart-title {
  font-size: 1.25rem;
}

.cart-subitem {
  flex: 300px 1 1;
}

.cart-item-subtotal {
  flex-basis: min-content;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.other-product-info {
  font-size: 0.9rem;
}

.cart-item-pricing {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 10px;
}

.cart-quantity-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: stretch;
}

#full-cart-page .delete-icon {
  background-color: var(--red);
  color: var(--yellow);
  border-radius: 5px;
  padding: 3px;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.add-shopping-cart-icon {
    color: var(--green);
    height: 2rem;
    width: 2rem;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.quantity-input {
  width: 6ch;
}

#cart-total-sticky {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#cart-total-checkout-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  background-color: var(--green);
  align-self: flex-start;
  padding: 10px;
  border-radius: 5px;
  color: var(--yellow);
  position: sticky;
  top: 0;
  min-width: max-content;
}

#cart-total-checkout-container button {
  border: 4px solid var(--yellow);
  background-color: var(--yellow);
  border-radius: 5px;
  color: var(--green);
  align-self: center;
}

#cart-total-checkout-container button:hover {
  text-decoration: underline;
  border: 4px solid var(--yellow);
}

#checkout-start-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-total {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

#confirmation-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#checkout-confirm-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add-cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-self: flex-start;
}

.add-shopping-cart-icon-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add-shopping-cart-icon-container p {
  color: var(--green)
}

.show-cart-input {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.show-cart-input input {
  flex-grow: 1;
}

.cart-button {
  font-size: 1em;
}

.cart-warning {
  font-weight: bold;
  color: var(--red);
}

.single-cart-input {
  max-width: 6ch;
}

.loader-container {
  position: relative;
}

#main .loader-container > svg {
  display: block;
}

.fade-loader {
  filter: grayscale(80%) blur(2px);
}

.spinner-container {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.full-loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 968px) {
  #full-cart-page {
    flex-direction: column-reverse;
  }

  #cart-total-checkout-container {
    align-self: stretch;
  }

  #cart-total-checkout-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/* Admin Page Css */

#profile {
  flex-grow: 1;
}

#AllUserCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.UserCard {
  width: 450px;
  border: 3px solid var(--green);
  color: var(--red);
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 5px -2px black;
  background-color: var(--yellow);
}
.UserInfo {
  padding: 10px 10px;
}
.Button:hover {
  background-color: var(--yellow);
  font-family: "Roboto Slab", serif;
  border: 4px solid var(--green);
  padding: 5px;
  color: var(--green);
  font-size: large;
  cursor: pointer;
}

.Button {
  background-color: var(--green);
  font-family: "Roboto Slab", serif;
  border: 4px solid var(--green);
  padding: 5px;
  color: var(--yellow);
  font-weight: 400;
  font-size: large;
  cursor: pointer;
  margin: 10px 10px;
  justify-content: center;
}

.Info {
  font-weight: 100;
  color: black;
  padding-right: 15px;
}
#searchBox {
  margin: 50px 0px;
  border: none;
  border-bottom: 4px solid var(--red);
  font-size: 25px;
  background-color: var(--yellow);
  color: var(--red);
}
#AdminPageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#AdminPageTitle {
  color: var(--red);
  font-size: 65px;
}

/* Login Register Page */

.pageTitle {
  display: flex;
  justify-content: center;
  font-size: 8vh;
  color: var(--red);
  margin-bottom: 50px;
  margin-top: 50px;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.defaultForm {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.defaultForm * {
  margin-bottom: 30px;
}

.formLabel {
  color: var(--red);
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 800;
}
#textBox {
  display: flex;
  padding-left: 10px;
  margin-left: 10px;
  border: none;
  border-bottom: 4px solid var(--red);
  font-size: 25px;
  background-color: var(--yellow);
  color: var(--red);
  font-family: "Roboto Slab", serif;
  font-size: 2vh;
}
.SwitchForm {
  background-color: var(--yellow);
  font-family: "Roboto Slab", serif;
  padding: 5px;
  border: none;
  color: var(--green);
  font-weight: 400;
  font-size: 1.5vh;
  cursor: pointer;
  margin: 10px 10px;
}
.SwitchForm:hover {
  background-color: var(--yellow);
  font-family: "Roboto Slab", serif;
  padding: 5px;
  border: none;
  color: var(--red);
  font-weight: 400;
  font-size: 1.5vh;
  cursor: pointer;
  margin: 10px 10px;
}
.error {
  background-color: var(--red);
  font-family: "Roboto Slab", serif;
  padding: 5px;
  border-radius: 10px;
  color: var(--yellow);
  font-weight: 400;
  font-size: large;
  margin: 10px 10px;
  justify-content: center;
}
.editTitle {
  display: flex;
  justify-content: center;
  font-size: 6vh;
  color: var(--red);
  margin-bottom: 50px;
  margin-top: 50px;
}
#checkboxLabel {
  color: var(--red);
  font-size: 2vh;
  display: flex;
 justify-content: center;
 font-weight: 800;
 align-items: center;
}
#checkboxLabel input {
  width: 2vh;
  height: 2vh;
  margin: 0px;
  margin-left: 15px;
  display: block;
  align-items: center;
  accent-color: var(--red);
}
/* Edit User Css */
.EditUserCard {
  width: 550px;
  border: 3px solid var(--green);
  color: var(--red);
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 5px -2px black;
  background-color: var(--yellow);
  font-size: large;
}
.EditUserInfo {
  padding: 25px 25px;
}
.checkboxes{
  display: flex;
  width: 350px;
  justify-content: space-between;
}
.EditUserPageTitle{
  display: flex;
  justify-content: center;
  font-size: 6vh;
  color: var(--red);
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Profile Css */

.ProfileTitle{
  display: flex;
  justify-content: center;
  font-size: 6vh;
  color: var(--red);
  margin-bottom: 50px;
  margin-top: 50px;
}

#ProfileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrdersTitle{
  display: flex;
  justify-content: center;
  font-size: 5vh;
  color: var(--red);
  margin-bottom: 50px;
  margin-top: 50px;
}
.OrderCard {
  border: 3px solid var(--green);
  color: var(--red);
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 5px -2px black;
  background-color: var(--yellow);
  align-items: stretch;
}
.OrderNumber {
  padding: 10px 10px;
  border-bottom: solid var(--pink);
  font-size: 50px;
}
.OrderInfo {
  padding: 10px 10px;
}
.ItemInfo {
  padding: 10px 10px;
  border-bottom: solid var(--pink);
}